@model EZPCBuilder.Models.PC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pc_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pc_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pc_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pc_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor.BaseSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graphics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graphics.BaseSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Case)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Case.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memory.Latency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage.Connection)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
