@model IEnumerable<EZPCBuilder.Models.PC>

@{
    ViewData["Title"] = "Index";
}
<style>
    b {
        color: mediumpurple;
    }
    h5{
        text-align:center;
    }
    hr{
        background-color:mediumpurple;
    }
    #pcs p{
        text-align:center;
    }
    #to_cart{
        position:relative;
      width:30%;
      left:35%;
    }
 
</style>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <p>
            <a class="btn btn-info" asp-action="Create">Create New</a>
        </p>
    }

}


<div class="card mb-3" id="showcase_card" style="background-color: transparent;">
    <img style="height:40vh; width:40%;left:30%;position:relative; " src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Avalanche_Hardline_Liquid_Cooled_Gaming_PC.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title" style="color:mediumpurple;text-align:center;">Falcon Heavy</h2>
        <p class="card-text"><b>Processor</b> : Core I9 1500x</p>
        <p class="card-text"><b>Graphics</b> : Core I9 1500x</p>
        <p class="card-text"><b>Motherboard</b> : Core I9 1500x</p>
        <p class="card-text"><b>Memory</b> : Core I9 1500x</p>
        <p class="card-text"><b>Storage</b> : Core I9 1500x</p>
        <h1 class="card-text" style="text-align:right;"><small class="text-muted"> <b>$1999.99</b></small></h1>
    </div>
</div>




    @foreach (var item in Model)
    {


<div class="card" style="background: rgba(0, 209, 255, 0.01); backdrop-filter: blur(10px);">
    <img src="~/Images/Cases/@item.Case.ImageName" width="200" height="200" asp-append-version="true" />
    <div class="card-body" id="pcs">
        <h5 class="card-title "><u> @Html.DisplayFor(modelItem => item.pc_name) </u></h5>
        <p class="card-text "><b>Processor</b> :   @item.Processor.Name</p>
        <p class="card-text "><b>Graphics</b> :   @item.Graphics.Name</p>
        <p class="card-text "><b>Storage</b> :    @item.Storage.Name</p>
        <p class="card-text "><b>Memory</b> :    @item.Memory.Name</p>
        <p class="card-text "><b>Case</b> :   @item.Case.Name</p>
        <p class="card-text "><b>  $@item.Price </b> </p>
        <a class="btn btn-primary" id="to_cart" asp-controller="Baskets" asp-action="AddToBasket" asp-route-id="@item.ID">Add To Basket</a>

        <br />

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Administrator"))
            {
                <br />
                <hr />

                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID">Delete</a>
            }
        }

    </div>

</div>





}





















