@model IEnumerable<EZPCBuilder.Models.Processor>

@{
    ViewData["Title"] = "Index";
}
<style>
    b {
        color: mediumpurple;
    }

    body {
        background: #071F35;
    }


    span {
        font-size: 15px;
    }

    a {
        text-decoration: none;
        color: #0062cc;
    }

    .box {
        padding: 60px 0px;
    }

    .box-part {
        border-radius: 0;
        padding: 60px 10px;
        margin: 30px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    h1 {
        text-align: center;
    }

    .btn-info {
        border: none;
    }
</style>






<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background-color: #071F35;">
    <div class="box" style="background-color: #071F35;">
        <div class="container" style="background-color: #071F35;">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Administrator"))
                {
                    <p>
                        <a asp-action="Create" class="btn btn-success">Create New</a>
                    </p>
                }
            }
            <h1>List Of Processors</h1>

            <div class="row" style="background-color: #071F35;">
                @foreach (var item in Model)
                {


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">

                            <img src="~/Images/Processors/@item.ImageName  " width="200" height="200" asp-append-version="true" />

                            <div class="title">
                                <h4>   <b> @Html.DisplayFor(modelItem => item.Name)</b></h4>
                            </div>

                            <div class="text">
                                <p>
                                    Boost Speed:  @Html.DisplayFor(modelItem => item.BoostSpeed)
                                </p>
                                <p>
                                    Cores :  @Html.DisplayFor(modelItem => item.Cores )
                                </p>
                                <p>
                                    <b>$  @Html.DisplayFor(modelItem => item.Price)</b>
                                </p>
                                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ID">View Specs</a>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <hr />
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.ID">Edit</a>

                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID">Delete</a>
                                }
                            }

                        </div>
                    </div>

                }

            </div>
        </div>
    </div>



</body>